<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
</head>
<body>
    <h1>Edit Student</h1>
    <form method="POST">
        Name: <input type="text" name="name" value="{{ student['name'] }}" required><br><br>
        Class: <input type="text" name="class" value="{{ student['class'] }}" required><br><br>
        Address: <input type="text" name="address" value="{{ student['address'] }}"><br><br>
        Phone: <input type="text" name="phone" value="{{ student['phone'] }}"><br><br>
        Fee: <input type="number" step="0.01" name="fee" value="{{ student['fee'] }}"><br><br>
        DOB: <input type="date" name="dob" value="{{ student['dob'] }}"><br><br>
        <input type="submit" value="Update Student">
    </form>
    <br>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
